<!doctype html>
<html>
    <head>
	{% block head %}
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} - My Site</title>
        <meta charset="utf-8">
    	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/css/styles.css">

        {% endblock %}
    </head>
    <body>
    {% block content %}{% endblock %}

    </body>
    <footer class="navbar-default navbar-fixed-bottom">
    {% block footer %}{% endblock %}
    <i>A captive portal with credential harvester. Powered by <a href="http://flask.pocoo.org/">Flask.</a> </i>
    </footer>
</html>
