{% extends 'base.html' %}
{% block header %}
{% block title %}Users{% endblock %}
{% endblock %}
{% block content %}

<div id="mininav">
<a class="btn btn-sm" href="/admin" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to the admin page</a>

        <a href="/users" class="btn btn-sm">
          <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
</div>

<table class="table table-hover">
<thead>
<tr>
    <th> User </th>
    <th> Password </th>
    <th> Time </th>
    <th> User-Agent </th>
<tr>
</thead>
<tbody>
{% for user in users %}
<tr>
    <td>{{ user[0] }}</td>
    <td>{{ user[1] }}</td>
    <td>{{ user[2] }}</td>
    <td>{{ user[3] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>PASSWORD AVG LENGTH: {{ passwdAvg }}</p>
{% endblock %}
